#co{
width:800px;
overflow:hidden;
}
#slider{
position:relative;
width:3200px;
animation-name:slideranimation;
animation-duration:20s;
animation-iteration-count:infinate;
}
#slider img{
float:left;
width:25%;
height:25%;
}
@keyframes slideranimation{
0%{
left:0px;
}
20%
{
left:0px;

}
25%{ 
left:-800px;
}
45%{
left:-800px;
}
50%{
left:-1600px;
}
70%{
left:-1600px;
}
75%{
left:-2400px;
}
}



































